In [3]:
import pandas as pd

orders = pd.read_csv("orders.csv")

print(orders.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian

In [4]:
users = pd.read_json("users.json")

print(users.head())

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [5]:
import sqlite3

In [6]:
conn = sqlite3.connect("restaurants.db")

In [7]:
with open("restaurants.sql", "r") as file:
    sql_script = file.read()

conn.executescript(sql_script)

In [8]:
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

print(restaurants.head())

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [9]:
orders_users = orders.merge(
    users,
    on="user_id",
    how="left"
)

In [10]:
final_df = orders_users.merge(
    restaurants,
    on="restaurant_id",
    how="left"
)

In [11]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [12]:
final_df.head()
final_df.shape
final_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  str
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  str
 6   name               10000 non-null  str
 7   city               10000 non-null  str
 8   membership         10000 non-null  str
 9   restaurant_name_y  10000 non-null  str
 10  cuisine            10000 non-null  str
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), str(7)
memory usage: 937.6 KB

In [13]:
final_df.groupby("order_date").size()

order_date
01-01-2023    29
01-01-2024    27
01-02-2023    25
01-03-2023    37
01-04-2023    32
              ..
31-05-2023    33
31-07-2023    27
31-08-2023    24
31-10-2023    30
31-12-2023    29
Length: 366, dtype: int64

In [14]:
final_df.groupby("membership")["order_amount"].sum()

KeyError: 'Column not found: order_amount'

In [15]:
final_df.groupby("city")["order_amount"].sum()

KeyError: 'Column not found: order_amount'

In [16]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='str')

In [17]:
final_df.groupby("membership")["amount"].sum()

KeyError: 'Column not found: amount'

In [18]:
final_df.groupby("membership")["order amount"].sum()

KeyError: 'Column not found: order amount'

In [19]:
final_df.columns = final_df.columns.str.strip().str.lower().str.replace(" ", "_")

In [20]:
final_df.groupby("membership")["order_amount"].sum()

KeyError: 'Column not found: order_amount'

In [21]:
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [22]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='str')

In [23]:
list(final_df.columns)

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating']

In [24]:
final_df.columns = (
    final_df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [25]:
list(final_df.columns)

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating']

In [26]:
final_df.groupby("membership")["total_amount"].sum()

membership
Gold       3975364.89
Regular    4036259.23
Name: total_amount, dtype: float64

In [27]:
list(final_df.columns)

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating']

In [28]:
# clean column names
final_df.columns = final_df.columns.str.strip().str.lower().str.replace(" ", "_")

# check missing values
final_df.isnull().sum()

order_id             0
user_id              0
restaurant_id        0
order_date           0
total_amount         0
restaurant_name_x    0
name                 0
city                 0
membership           0
restaurant_name_y    0
cuisine              0
rating               0
dtype: int64

In [29]:
final_df.head()
final_df.info()
final_df.describe()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  str
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  str
 6   name               10000 non-null  str
 7   city               10000 non-null  str
 8   membership         10000 non-null  str
 9   restaurant_name_y  10000 non-null  str
 10  cuisine            10000 non-null  str
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), str(7)
memory usage: 937.6 KB

          order_id       user_id  restaurant_id  total_amount        rating
count  10000.00000  10000.000000   10000.000000  10000.000000  10000.000000
mean    5000.50000   1504.117700     251.016700    801.162412      4.045430
std     2886.89568    861.727776     144.622558    405.458753      0.606531
min        1.00000      1.000000       1.000000    100.200000      3.000000
25%     2500.75000    761.000000     127.000000    446.310000      3.500000
50%     5000.50000   1508.000000     251.000000    806.295000      4.100000
75%     7500.25000   2250.250000     376.000000   1149.227500      4.600000
max    10000.00000   3000.000000     500.000000   1499.830000      5.000000

In [30]:
final_df.groupby("order_date").size()

order_date
01-01-2023    29
01-01-2024    27
01-02-2023    25
01-03-2023    37
01-04-2023    32
              ..
31-05-2023    33
31-07-2023    27
31-08-2023    24
31-10-2023    30
31-12-2023    29
Length: 366, dtype: int64

In [31]:
final_df.groupby("order_date")["total_amount"].sum()

order_date
01-01-2023    25483.04
01-01-2024    17201.50
01-02-2023    21066.21
01-03-2023    32608.53
01-04-2023    26036.89
                ...
31-05-2023    23824.71
31-07-2023    23816.09
31-08-2023    18901.45
31-10-2023    22383.13
31-12-2023    19813.33
Name: total_amount, Length: 366, dtype: float64

In [32]:
final_df.groupby("membership").size()

membership
Gold       4987
Regular    5013
dtype: int64

In [33]:
final_df.groupby("membership")["total_amount"].sum()

membership
Gold       3975364.89
Regular    4036259.23
Name: total_amount, dtype: float64

In [34]:
final_df.groupby("city")["total_amount"].sum().sort_values(ascending=False)

city
Bangalore    2206946.58
Chennai      1990513.03
Pune         1924797.93
Hyderabad    1889366.58
Name: total_amount, dtype: float64

In [35]:
final_df.groupby("cuisine_type")["total_amount"].sum().sort_values(ascending=False)

KeyError: 'cuisine_type'

In [36]:
final_df.groupby("restaurant_name")["total_amount"].sum().sort_values(ascending=False).head(10)

KeyError: 'restaurant_name'

In [37]:
final_df["order_date"] = pd.to_datetime(final_df["order_date"])

C:\Users\hanis\AppData\Local\Temp\ipykernel_11396\206211785.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df["order_date"] = pd.to_datetime(final_df["order_date"])

In [38]:
final_df.groupby("restaurant_name")["total_amount"].sum().sort_values(ascending=False).head(10)

KeyError: 'restaurant_name'

In [39]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [40]:
import pandas as pd

final_df = pd.read_csv("final_food_delivery_dataset.csv")
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,2023-02-18,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,2023-01-18,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,2023-12-25,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [41]:
final_df = pd.read_csv("final_food_delivery_dataset.csv")
final_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  str
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  str
 6   name               10000 non-null  str
 7   city               10000 non-null  str
 8   membership         10000 non-null  str
 9   restaurant_name_y  10000 non-null  str
 10  cuisine            10000 non-null  str
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), str(7)
memory usage: 937.6 KB

In [42]:
final_df = pd.read_csv("final_food_delivery_dataset.csv")

In [43]:
final_df.head()
final_df.shape
final_df.columns
final_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  str
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  str
 6   name               10000 non-null  str
 7   city               10000 non-null  str
 8   membership         10000 non-null  str
 9   restaurant_name_y  10000 non-null  str
 10  cuisine            10000 non-null  str
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), str(7)
memory usage: 937.6 KB

In [44]:
final_df.columns = final_df.columns.str.strip().str.lower().str.replace(" ", "_")

In [45]:
total_orders = final_df.shape[0]
total_revenue = final_df["total_amount"].sum()

total_orders, total_revenue

(10000, np.float64(8011624.12))

In [46]:
final_df["order_date"] = pd.to_datetime(final_df["order_date"])

orders_by_day = final_df.groupby("order_date").size()

In [47]:
final_df.groupby("membership")["total_amount"].agg(["count", "sum", "mean"])

            count         sum        mean
membership
Gold         4987  3975364.89  797.145556
Regular      5013  4036259.23  805.158434

In [48]:
final_df.groupby("city")["total_amount"].sum().sort_values(ascending=False)

city
Bangalore    2206946.58
Chennai      1990513.03
Pune         1924797.93
Hyderabad    1889366.58
Name: total_amount, dtype: float64

In [49]:
final_df.groupby("cuisine_type")["total_amount"].sum().sort_values(ascending=False)

KeyError: 'cuisine_type'

In [50]:
list(final_df.columns)

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating']

In [51]:
final_df.columns = final_df.columns.str.strip().str.lower().str.replace(" ", "_")
list(final_df.columns)

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating']

In [52]:
final_df.groupby("cuisine")["total_amount"].sum().sort_values(ascending=False)

cuisine
Mexican    2085503.09
Italian    2024203.80
Indian     1971412.58
Chinese    1930504.65
Name: total_amount, dtype: float64

In [53]:
final_df.groupby("restaurant_cuisine")["total_amount"].sum().sort_values(ascending=False)

KeyError: 'restaurant_cuisine'

In [54]:
[col for col in final_df.columns if "cuisine" in col or "food" in col]

['cuisine']